<img id="article_pic" src="/assets/newArticle.jpg" style= "width:1125px; height:525px;">
<h1 id="new_h1">New Shout</h1>

<div id="new_div">
  <%= render 'form' %>

  <h3 id="back_h3"><%= link_to 'Back', articles_path %></h3>
</div>
