<!--Start Main div-->
<div id="main_div">
  <img id="main_pic" src="/assets/mainPic.jpg" style= "width:1125px; height:525px;">
  <div id="main_style"></div>
  <h2 id="main_h1"><a href ="https://github.com/Campbell1695">R67F Da45Y</a></h2>

  <nav>
    <p id="home_p"><a href ="/">HOME</a></p>
    <p id="mods_p"><a href ="https://bethesda.net/en/mods/skyrim">MODS</a></p>
    <p id="shop_p"><a href ="https://www.etsy.com/market/skyrim">SHOP</a></p>
    <p id="blog_p"><%= link_to 'BLOG', controller: 'articles' %></p>
    <p id="contact_p"><%= link_to "CONTACT", contact_path, class: "btn btn-lg btn-primary" %></p>
  </nav>

  <h1 id="skyrim_h1">SKYRIM</h1>
  <p id="connect_button"><%= link_to "CONNECT", signup_path, class: "btn btn-lg btn-primary" %></p>
  <p id="login_p">ALREADY A MEMBER? <%= link_to "CLICK HERE!", login_path, class: "btn btn-lg btn-primary" %></p>
</div>

<!--Start Secondary div-->
<div id="secondary_div">
  <h2>"In their tongue he is Dovahkiin, Dragonborn."</h2>
  <p>―Esbern</p>
</div>

<!--Start Dragonborn div-->
<div id="dragonborn_div">
  <img id="dragonborn_pic" src="/assets/dragonborn.gif" style= "width:225px; height:275px;">
  <div id="dbText_div">
    <h3>Dovahkiin</h3>
    <p>In Dragon language, "Dovahkiin" is a combination of the words "Dovah," meaning "dragon," and "kiin," meaning "born," or "child" which is typically translated to "Dragonborn," but it can also be translated to "Dragonchild." Dovahkiin also has a second meaning: the "Dov" in "Dovah" refers to Dragonkind as a whole, while the "ah" means "hunter." Interpreted thus, the name reads "Dragonkind Hunter Born," or "Born Hunter of Dragonkind," an appropriate description of what the Dragonborn is destined to do.</p>
    <img src="/assets/skyrim_logo" style= "height:75px;">
  </div>
</div>

<!--Start Races div-->
<div id="races_div">
  <img id="race_pic" src="/assets/races.png" style= "width:1125px; height:450px;">

  <img class="races" src="/assets/altmer.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/argonian.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/Bosmer.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/breton.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/dunmer.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/imperial.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/khajiit.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/nord.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/orsimer.png" style= "width:275px; height:325px;">
  <img class="races" src="/assets/redguard.png" style= "width:275px; height:325px;">
</div>

<!--Start Subscribe div-->
<div id="subscribe_div">
  <div id="sText_div">
    <h3>Subscribe Now and Stay Informed</h3>
  </div>
  <h3 id="email_h3">Email address</h3>
  <textarea rows="1" cols="25"></textarea>
  <button id="subscribe_button">Subscribe</button>
</div>

<!--Start Footer div-->
<div id="footer_div">
  <p>Copyright © 2018 R67F Da45Y Designed by Sharif Campbell</p>
</div>
